<h1>Welcome!</h1>
<p>Let's Start by choosing a few Regions to join</p>
<form id="setRegions" onsubmit="newRegions()">
   {{#optionfiller regions}}
      <option value="{{region_id}}">{{region_name}}</option>
   {{/optionfiller}}
   <input type="submit">
</form>