<div class="menu">
   <ul>
      <li><a href="/login">Log in</a></li>
      <li><a href="/signup">Sign Up</a></li>
   </ul>
</div>

<div class="Welcome-Container">
   <div class="Welcome-Message">
      Welcome to <span>CommUNITY</span></br>  
      Bringing People Together
   </div>
</div>