
<div class="parent">
   <div class="child">
      <form action="/loggingin" method="POST" onsubmit="return checkFields()">
         <input type="text" name="username" placeholder="Username" maxlength="250" required><span id="uName_err"></span></br>
         <input type="password" name="password" placeholder="Password" maxlength="250" required><span id="p_err"></span></br>
         <input type="submit">
      </form>
   </div>
</div>