<div class="parent">
   <div class="child">

      <form action="/controllers/login.js">
         <input type="text" name="username" placeholder="Username">
         <input type="password" name="password" placeholder="Password">
         <input type="submit">
      </form>
      
   </div>
</div>