<script>
   function pwordsAreEqual(){
      let check = document.getElementsByName("password");
      if(check[0] == check[1]) { 
         return true
      }
      else {
         check[1].style.borderColor = "red";
         document.getElementById('err').innerText = "The Passwords must match"
         return false;
      }
   }

   function checkFields(){
      // email check - will eventually need an activation email!!
   
      // username check
      let pword = document.getElementsByName('password')
      if(pword[0].value.length < 8){
         pword[0].style.borderColor = 'red';
         document.getElementById('p_err').innerText = "Must be longer than 8 characters";
         return false
      } else if(!pword[0].value){
         // does not contain special chars 
         return false;
      }
      // password check
      //if(pwordsAreEqual()){
         //must contain a special char
   
      } else{
         return false;
      }
      return true;
   }

</script>
<form name="login" action="/newUser" method="POST" onsubmit="return checkFields()">
   <input type="text" name="first_name" placeholder="First Name" maxlength="80" required></br>
   <input type="text" name="last_name" placeholder="Last Name" maxlength="80" required></br>
   <input type="text" name="email" placeholder="Email" maxlength="250" required><span id="email_err"></span></br>
   <input type="text" name="username" placeholder="Username" maxlength="250" required><span id="uName_err"></span></br>
   <input type="password" name="password" placeholder="Password" maxlength="250" required><span id="p_err"></span></br>
   <input type="password" name="password" placeholder="Confirm Password" maxlength="250" required><span id="err"></span></br>
   <input type="submit" >
</form>