<link rel="stylesheet" href="stylesheets/home.css">

<main>
   <div class="sidebar">
      <a> Home</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Log Out</a>
   </div>
   <div class="feed">
      {{#listTopics myTopics}}
      <div class="topic">
         <h2>{{topic_name}}</h2>
         <p>{{description}}</p>
      </div>
      {{/listTopics}}

   </div>
   <div class="yours">
      right now there is nothing here
   </div>
</main>