<link rel="stylesheet" href="stylesheets/home.css">
<div class="sidebar">
         <a> {{#if first_name}}{{first_name}}{{/if}} Home</a>
         <a href="/settings">Settings</a>
         <a href="/logout">Log Out</a>
</div>
<main>
   <div class="feed">
{{#listTopics myTopics}}
   <div class="topic">
      <h2>{{topic_name}}</h2>
      <p>{{description}}</p>
   </div>
{{/listTopics}}
   </div>
</main>