<link rel="stylesheet" href="stylesheets/home.css">
<script src="/js/homepage.js"></script>

<main>
   <div class="sidebar">
      <div><a> Home</a></div>
      <div><a href="/settings">Settings</a></div>
      <div><a href="/logout">Log Out</a></div>
   </div>
   <div class="content">
      <div class="createNew">
         <input type="text" id="newTopic" placeholder="topic name">
         <textarea id="desc" placeholder="Description"></textarea>
         <input type="text" id="region" placeholder="Region..">
         <button onclick="postNewTopic()">Post</button>
      </div>
      <div class="feed">
         {{#listTopics myTopics}}
         <div class="topic">
            <h2>{{topic_name}}</h2>
            <p>{{description}}</p>
         </div>
         {{/listTopics}}
      </div>
      <div class="yours">
         <div id="myPosts">
            right now there is nothing here
         </div>
      </div>
   </div>
</main>