<link rel="stylesheet" href="stylesheets/home.css">
<div class="sidebar">
         <a> {{#if username}}{{username}}{{/if}} Home</a>
         <a href="/settings">Settings</a>
         <a href="/logout">Log Out</a>
</div>
<main>
   {{#foo}}{{/foo}}
   {{#bar}}{{/bar}}
</main>