main {
   display: flex;
   flex-flow: column;
}

.sidebar > a {
   color: white;
   display: inline-block;
   
   height: 2vw;
   width: 10vw;
   margin:.5vw;
   padding: 3px;

   text-decoration: none;
   text-align: center;
}

.sidebar > a:hover {
   color: black;
   background-color: #4b5e4b;
}

.content {
   display: flex;
   flex-flow: row
}

.feed {
   display: flex;
   flex-flow: column;
   justify-content: flex-start;
   align-items: stretch;
   flex-grow: 2;
   padding: 5%;
}

.topic {
   background-color: darkolivegreen;
   margin: 5px;
   padding: 10px;
}

.yours {
   display: flex;
   flex-flow: column;
   padding-top: 5%;
   padding: 1%;
}