.login-container {
   font-family: Arial, Helvetica, sans-serif;
   background-color: whitesmoke;
   left: 50%;
   top: 50%;
   margin-top: -250px;
   margin-left: -250px;
   position: fixed;
   width: 250px;
   height: 250px;
}

@media all and (max-width: 700) {
   .login-container {
      width: "100%";
   }
}