body {
   background: #334433;
   color: white;
}

.parent {
   display: flex;
}

.child {

}

@media only screen and (min-width: 700 ) {

}

a {
   color: white;
   display: inline-block;
}

ul {
   text-decoration: none;
}
.menu {
   float: right;

}
